html {
  background-color: #f8f9fc;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  padding-top: 30px;
}

#mainPageContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*
Correct issue on Grommet icons: https://github.com/react-icons/react-icons/issues/334
*/
path, g, polyline {
  stroke: currentColor;
}